/*
 *= require spree/backend
 */

.searchable-scrollable-list {
    padding-top: 10px;
    width: 100%;
    vertical-align: top;
    display: flex;
}

.scrollable-list-group-item {
    padding-left: 2px;
    padding-right: 2px;
    flex: 1;
    display: inline-block;
}

.inline-input-row {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.inline-input-row > .input-group {
    width: 49.8%;
    margin: 0;
    padding: 0;
}

.scrollable-list-group-item > .panel > .list-group {
    max-height: 300px;
    overflow-y: scroll;
}

.list-group-item > label {
    text-transform: none;
}

.scrollable-list-group-item > .panel > .list-group > .list-group-item {
    user-select: none;
}


.centered-floating-buttons {
    position: fixed;
    margin: 20px 20px 20px 0;
    padding-top: 20px;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.form-field-group {
    flex: 1;
    max-height: 60vh;
    overflow-y: scroll;
}

.fixed-bottom-button-group {
    flex: 1;
    flex-shrink: 0;
    height: 10%;
    margin: 0 auto;
    width: 100%;
}

.help-block-inline {
    display: inline-block;
    padding: 10px;
}


#permission_set_display_permission {
    margin-left: 20px;
}

#permission_set_permissions_field {
    padding-top: 20px;
}
